<template>

    <div class="form-group 1"; text-align: justify> 
        First Name: <input value.bind="user.firstName">
    </div>

    <div class="form-group 2"; text-align: justify>
     Last Name: <input value.bind="user.lastName">
    </div>

    <div class="form-group 3"; text-align: justify>
     Email: <input value.bind="user.email">
    </div>

    <div class="form-group 4"; text-align: justify>
     Password: <input value.bind="user.password">
    </div>    

    <button click.trigger="save()">Save</button>
    
</template>
    